report/report.dvi
report/report.log.orig
report/report.synctex.gz
report/report.tex.orig
report/report_BACKUP_1121.tex
report/report_BACKUP_1179.log
report/report_BASE_1121.tex
report/report_BASE_1179.log
report/report_LOCAL_1121.tex
report/report_LOCAL_1179.log
report/report_REMOTE_1121.tex
report/report_REMOTE_1179.log
report/report.aux
report/report.log
