<div class="grid-container">
  <h1 class="mat-h1">Control Dashboard</h1>
  <div class="control-components-container">
    <!-- <div *ngFor="let actuator of dataServiceInstance.actuators | keyvalue">key: {{actuator.key}} value: {{actuator.value.get('windows') | json}}</div> -->
    <ng-container *ngFor="let actuator of dataServiceInstance.actuators | keyvalue">
      <app-window-control *ngIf="actuator.value.has('windows')" [windowLoc]="actuator.key"></app-window-control>
    </ng-container>
      <app-heating-control></app-heating-control>
  </div>
</div>