<mat-card class="heating-control-card control-dashboard-component">
    <div class="card-title-icon-container bg-color-grad5">
        <mat-icon>thermostat</mat-icon>
    </div>
    <mat-card-header>
        <mat-card-title>
            Heating Control
            <button mat-icon-button class="card-info-button" 
            matTooltip="Configuration for one heating element. Also shows the current state the heating element is in and the current temperature.">
                <mat-icon>info</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content class="heating-control-card-content">
        <div class="current-heating-state-container">
            <div class="indoor-temp-container">
                Indoor temperature:&nbsp;
                <div class="curr-indoor-temp">
                    <ng-container *ngIf="this.dataServiceInstance.insideTemp">
                        {{this.dataServiceInstance.insideTemp}}&#8451;
                    </ng-container>
                    <ng-container *ngIf="!this.dataServiceInstance.insideTemp">
                        <div class="lds-dual-ring"></div>
                    </ng-container>
                </div>
            </div>
            <div class="outdoor-temp-container">
                Outdoor temperature:&nbsp;
                <div class="curr-outdoor-temp">
                    <ng-container *ngIf="this.dataServiceInstance.outsideTemp">
                        {{this.dataServiceInstance.outsideTemp}}&#8451;
                    </ng-container>
                    <ng-container *ngIf="!this.dataServiceInstance.outsideTemp">
                        <div class="lds-dual-ring"></div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="heater-control-options-container">
            <p class="heater-control-button-title">Control heater:</p>
            <div class="heater-control-button-group-container">
                <div class="heater-control-button-container automatic-mode-container">
                    <button (click)='setHeatingMode("auto")' mat-flat-button color="accent"
                        [ngClass]="{'currently-active': dataServiceInstance.heater.setting === 'auto'}">Automatic Mode</button>
                </div>
                <div class="heater-manual-intensity-control-container"
                [ngClass]="{'currently-active-manual-heater': dataServiceInstance.heater.setting === 'manual'}"
                (click)='setHeatingMode("manual")'
                >
                    <div class="manual-heating-slider-title">Set power of heater manually:</div>
                    <ngx-slider [(value)]="dataServiceInstance.heater.power"
                    [options]="heaterIntensitySlider.options"
                    (userChangeEnd)="onPowerSliderChange($event)"></ngx-slider>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>