<div class="header-container">
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    </button>
    <span (click)="drawer.toggle()">AWP System - Admin Module</span>
  </mat-toolbar>


  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav sidenav-complete" fixedInViewport="false" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar >
        <mat-toolbar-row><h2 class="sidenav-toolbar">Menu</h2></mat-toolbar-row>
      </mat-toolbar>
      
      <mat-nav-list class="">
        <mat-list-item routerLink="/dashboard"> 
          <a class="sidebar-nav-item-container fancy-text-color">
            <mat-icon class="sidebar-nav-item-icon">dashboard</mat-icon>
            <p>Dashboard</p>
          </a>
        </mat-list-item>
        <mat-list-item> 
          <a class="sidebar-nav-item-container fancy-text-color">
            <mat-icon class="sidebar-nav-item-icon">sensors</mat-icon>
            <p>Sensors</p>
          </a>
        </mat-list-item>
        <mat-list-item routerLink="/sensors"> 
          <a class="sidebar-nav-item-container fancy-text-color" routerLink="/dashboard">
            <mat-icon class="sidebar-nav-item-icon fan">developer_board</mat-icon>
            <p>Actuators</p>
          </a>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard"> 
          <a class="sidebar-nav-item-container fancy-text-color">
            <mat-icon class="sidebar-nav-item-icon fan">settings</mat-icon>
            <p>Customize</p>
          </a>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard"> 
          <a class="sidebar-nav-item-container fancy-text-color">
            <mat-icon class="sidebar-nav-item-icon fan">code</mat-icon>
            <p>Console</p>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="router-outlet-content">
      <router-outlet ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>