.snackbar-container {
    display:inline-flex;
    color: rgba(0,0,0,.87);
    align-items: center;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
}

.snackbar-container mat-icon {
    margin-right: 10px;
    font-weight: 650;
}

.success {
    color: green;
}

.warning {
    color: rgba(255, 193, 7);
}

.dismiss {
    margin-left: 10px;
}

::ng-deep .status-snackbar {
    background: white;
}