<mat-card class="window-control-card control-dashboard-component">
    <div class="card-title-icon-container bg-color-grad4">
        <mat-icon>window</mat-icon>
    </div>
    <mat-card-header>
        <mat-card-title>
            Window Control: {{(windowstate) ? windowstate!.location : ""}}
            <button mat-icon-button class="card-info-button" 
            matTooltip="Configuration for the operating mode of the window and its associated blind. Also shows current state that the window and the blind are in.">
                <mat-icon>info</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>


    <mat-card-content class="window-control-card-content">
        <div class="current-window-state-container">Current state of window is:&nbsp;
            <span *ngIf="(windowstate && windowstate.status)" class="curr-window-state-indicator {{windowstate.status}}">
                {{windowstate.status}}
            </span>
            <div *ngIf="!(windowstate && windowstate.status)" class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        <div class="window-control-options-container">
            <p class="window-control-button-title">Control window:</p>
            <div class="window-control-button-group-container">
                <div class="window-control-button-container automatic-mode-container">
                    <button (click)='setWindowMode("auto")' mat-flat-button color="accent"
                        [ngClass]="{'currently-active': windowstate!.setting === 'auto'}">Automatic Mode</button>
                </div>
                <div class="window-control-button-container">
                    <button (click)='setWindowMode("open")' mat-flat-button color="accent"
                        [ngClass]="{'currently-active': windowstate!.setting === 'open'}">Open Window</button>
                </div>
                <div class="window-control-button-container">
                    <button (click)='setWindowMode("close")' mat-flat-button color="accent"
                        [ngClass]="{'currently-active': windowstate!.setting === 'close'}">Close Window</button>
                </div>
            </div>
        </div>
        <ng-container *ngIf="getBlind()">
            <mat-divider inset="true"></mat-divider>
            <div class="current-blind-state-container">Current state of blind is:&nbsp;
                <span *ngIf="(getBlind()!.status)" class="curr-blind-state-indicator {{getBlind()!.status}}">
                    {{getBlind()!.status}}
                </span>
                <div *ngIf="!getBlind()!.status" class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
            <div class="blind-control-options-container">
                <p class="window-control-blinds-button-title">Control blinds:</p>
                <div class="window-control-button-group-container">
                    <div class="window-control-button-container automatic-mode-container">
                        <button (click)='setBlindMode("auto")' mat-flat-button color="accent"
                            [ngClass]="{'currently-active': getBlind()!.setting === 'auto'}">Automatic Mode</button>
                    </div>
                    <div class="window-control-button-container">
                        <button (click)='setBlindMode("open")' mat-flat-button color="accent"
                            [ngClass]="{'currently-active': getBlind()!.setting === 'open'}">Open Blinds</button>
                    </div>
                    <div class="window-control-button-container">
                        <button (click)='setBlindMode("close")' mat-flat-button color="accent"
                            [ngClass]="{'currently-active': getBlind()!.setting === 'close'}">Close Blinds</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>