<div class="grid-container">
    <h1 class="mat-h1">Console</h1>
    <div class="terminal-container">
        <div class="terminal mat-elevation-z12" (click)="focusInputArea()"> 
            <ng-scrollbar class="terminal-scrollbar">
            <div class="terminal-content-container">
                <!-- <p *ngFor="let consoleItem of consoleContent">{{consoleItem}}</p> -->
                <div *ngFor="let consoleItem of consoleContent" class="console-content-item-container">
                    <span *ngIf="consoleItem.isInput()" class="console-input-indicator">></span>
                    <!-- <pre>{{consoleItem.getContent()}}</pre> -->
                    <textarea cdkTextareaAutosize class="console-content-item-textarea" cdkAutosizeMinRows="1" disabled>{{consoleItem.getContent()}}</textarea>
                </div>
                <div class="console-input-div">
                        <span class="console-input-indicator">></span>
                        <textarea #areaElem [(ngModel)]="consoleInput" (keydown.enter)="submitConsoleInput()" cdkTextareaAutosize  class="console-input-textarea" cdkAutosizeMinRows="1"> </textarea>
                </div>
            </div>
            </ng-scrollbar>
        </div>
    </div>
</div>

